<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageAfi_ProductImport::productimport" title="Import User" module="MageAfi_ProductImport" sortOrder="51" resource="MageAfi_ProductImport::productimport"/>
        <add id="MageAfi_ProductImport::post" title="Manage User" module="MageAfi_ProductImport" sortOrder="10" action="productimport/post" resource="MageAfi_ProductImport::post" parent="MageAfi_ProductImport::productimport"/>
    </menu>
</config>